*{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: space-around;
    height:100px;
    align-items: center;
    background-color:rgb(250, 245, 233);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
}

#logo{
      font-family: "Alfa Slab One", serif;
      font-weight: 400;
      font-style: normal;
      font-size:30px;
}
#logIn{
    font-family: "Lexend Giga", sans-serif;
    font-size:18px;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 255, 240);
}

.containerAdd{
    display:flex;
    justify-content: center;
    align-items:center;
    height:80px;
    background-color:rgb(243, 243, 241);
}
#addNew{
    font-family: "Lexend Giga", sans-serif;
    font-size:20px;
    font-weight: 800;
    border: none;
    background-color:rgb(243, 243, 241) ;
}
.footer{
    background-color:rgb(243, 243, 241) ;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:"Lexend Giga", sans-serif;
    margin-top:auto;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
    background-color: rgb(243, 243, 241);
    flex:1;
}