*{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: space-around;
    height:100px;
    align-items: center;
    background-color:rgb(140, 179, 118);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
}

#logo{
      font-family: "Alfa Slab One", serif;
      font-weight: 400;
      font-style: normal;
      font-size:30px;
}
#logIn{
    font-family: "Lexend Giga", sans-serif;
    font-size:18px;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color:rgb(249, 249, 220);
}

.containerAdd{
    display:flex;
    justify-content: center;
    align-items:center;
    height:80px;
    background-color:rgb(243, 243, 241);
}
#openModal{
    font-family: "Lexend Giga", sans-serif;
    font-size:20px;
    font-weight: 800;
    border: none;
    background-color:rgb(243, 243, 241) ;
}
.footer{
    background-color:rgb(243, 243, 241) ;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:"Lexend Giga", sans-serif;
    margin-top:auto;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
    background-color: rgb(243, 243, 241);
    flex:1;
}


.checkbox-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lexend Giga", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

#modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 350px;
  width:300px;
  border-radius: 10px;
  border:none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  font-family: "Lexend Giga", sans-serif;
  padding: 24px;
}

h2{
    
    font-size: 18px;
    display:flex;
    justify-content: center;
    padding:10px 0px 10px 0px;

}

#modal form{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.cardContainer{
    background-color: rgb(249, 249, 220);
    border:none;
    border-radius:5px;
    width:280px;
    height:250px;
    padding:40px 10px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.3);

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

.main{
    display:flex;
    justify-content: flex-start;
    row-gap:40px;
    column-gap: 185px;
    flex-wrap:wrap;
    padding: 50px 100px 50px 100px;
}

p{
    font-family: "Lexend Giga", sans-serif;
    font-size: 18px ;
} 
.titleText{
    font-weight: bold;
    font-size: 20px ;
    text-align: center;
}

.alreadyReadButton, .notReadButton, .removeButton{
    font-family: "Lexend Giga", sans-serif;
    font-size: 18px ;
    border:none;
    border-radius:5px;
    padding:10px;
    width: 180px;

}
.notReadButton{
    background-color: rgb(246, 115, 115);
}
.alreadyReadButton{
    background-color: rgb(124, 246, 115);
}
.removeButton{
    background-color: rgb(203, 201, 201)
}

#modal{
    background-color: rgb(140, 179, 118);
    
}

input{
    height: 30px;
    font-size: 16px;
    font-family:"Lexend Giga", sans-serif;
}
#submit{
    background-color: rgb(124, 246, 115);
    border:none;
    padding:5px;
    font-size: 16px;
    font-family:"Lexend Giga", sans-serif;
}
#close{
    background-color: rgb(246, 115, 115);
    border:none;
    padding:5px;
    font-size: 16px;
    font-family:"Lexend Giga", sans-serif;
}
.readInput {
  transform: scale(1.5);
}